<!DOCTYPE html>
<html>
<head>
    <title>Beautiful Front-End JavaScript</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
    .message {
      display: none;
      font-size: 40px;
      color: #ff0000;
      text-align: center;
    }
    .photo-image {
      width: 420px;
      height: 580px;
    }

    </style>
</head>
<body>
<h1>Triangle Database Project</h1>
<img src="static/klk.jpg" alt="KLK" class="photo-image">
<img src="static/jojo.jpg" alt="JoJo" class="photo-image">
<img src="static/fa.jpg" alt="FA" class="photo-image">
<p>Guess which is my favourite!</p>
<button id="showBtn1">First</button>
<button id="showBtn2">Second</button>
<button id="showBtn3">Third</button>
<div id="message1" class="message">Guess Again!</div>
<div id="message2" class="message">Correct!</div>
<script>
    $(document).ready(function() {
      $('#showBtn1').click(function() {
        $('#message2').fadeIn(1000).delay(2000).fadeOut(1000, function() {
          $('#myImage').fadeIn(1000);
        });
      });
    });

</script>
<script>
    $(document).ready(function() {
      $('#showBtn2').click(function() {
        $('#message1').fadeIn(1000).delay(2000).fadeOut(1000, function() {
          $('#myImage').fadeIn(1000);
        });
      });
    });

</script>
<script>
    $(document).ready(function() {
      $('#showBtn3').click(function() {
        $('#message1').fadeIn(1000).delay(2000).fadeOut(1000, function() {
          $('#myImage').fadeIn(1000);
        });
      });
    });

</script>
</body>
</html>
